.navbar-brand img{
    width: 200px;
    height: auto;
}



.banner img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.navbar-rei {
    background-color: #111;
    padding: 10px 30px;
}
.navbar-rei .nav-link {
    color: white;
    font-weight: 500;
    margin: 0 8px;
}

.navbar-rei .nav-link:hover {
    color: #ffc107;
}



.guarana-img {
    width: 160px;
}
.produto-imagem {
    display: flex;
    justify-content: center;
    align-items: center;
}



.rodape {
    background-color: #198754;
    color: white;
    padding: 50px 0 20px;
    margin-top: 60px;
}

.rodape h4,
.rodape h5 {
    font-weight: bold;
    margin-bottom: 15px;
}

.rodape p {
    margin-bottom: 8px;
}

.rodape hr {
    border-color: rgba(255, 255, 255, 0.3);
    margin: 30px 0 20px;
}

.rodape {
    background-color: #0f5132;
}


.carrinho {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    max-width: 700px;
}

.item-carrinho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

.item-carrinho p {
    margin: 5px 0 0;
    color: #666;
}

.item-carrinho span {
    font-weight: bold;
}

#aviso-compra {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}